.App {
  max-width: 1290px;
  margin: 0 auto;
}
.films {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;
  z-index: -1;
}
.content {
  padding: 20px;
  position: absolute;
  bottom: 20px;
  z-index: 13438482929;
}
.descr,
.title {
  color: #fff;
  font-weight: 700;
}
.overlay {
  background: #000;
  position: absolute;
  opacity: 0.5;
  z-index: 10000000;
  width: 412px;
  height: 600px;
  top: 0;
  margin-right: 20px;
}
*,
body {
  font-family: "Montserrat Alternates", sans-serif;
}

.descr {
  color: lightskyblue;
  background: rgba(150, 166, 182, 0.6);
  width: 140px;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 30px;
}
.ratings {
  margin-bottom: 30px;
}
